{% extends 'Base.html.twig' %}

{% block contents %}
	<div class="row">
		<div class="col-1">
			<h1 class="display-3">Event: {{Model.Name}}</h1>
			<p class="lead">Below is important information about the {{ Model.Name }} event. If you wish to sign up please register.</p>
		</div>
	</div>
	<div class="row">
		<div class="col-2">
			{% set coords = [{'id': Model.Id, 'lat' : Model.Lat, 'lng' : Model.Lng }] %}
			<h2>{{Model.Name}}</h2>
			<div class="map-single" id="map{{ Model.Id }}"></div>
			<p>{{ Model.Description }}</p>

			<p><a class="btn" href="/event/all">Return to all events</a></p>
		</div>
		<div class="col-1 col-3-grey">
			<h2>Event Information</h2>
			<p><b class="label">Date:</b> {{ Model.Lat }}</p>
			<p><b class="label">Latitude:</b> {{ Model.Lat }}</p>
			<p><b class="label">Longitude:</b> {{ Model.Lng }}</p>
			<p> <a class="btn btn-grey" href="/event/delete/{{ Model.Id }}">Delete</a></p>
		</div>
	</div>
	<script>
		var coords = {{ coords|json_encode|raw }}
		var zoom = 6
	</script>
	<script src="/js/maps.js"></script>
	<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB78rp2qOD1SQLt_hZFLCe2wVUG0oV6LO0&callback=initMap">
	</script>


{% endblock %}
